<footer class="container" style="background-color: yellow;">
    <nav	class="row justify-content-end">
        <div class="col-md-2">
            <ul >
                <strong><a href="{{ path('rules')}}">Game Rules</a></strong><br>
               
            </ul>
        </div>


        <div class="col-md-8">
            <ul>
                <li>
                    <strong>Legal Mentions</strong><br>

                    The consultation of the website p4.com
                    does not require the provision of the users’ personal data.


                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul>
                <li>
                    <strong>Webmasters</strong>
                    <ul>
                        <li>Etienne</li>
                        <li>Tristan</li>
                        <li>Salim</li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</footer>
