<footer class="container" style="background-color: yellow;">
    <nav	class="row justify-content-end">
        <div class="col-md-2">
            <ul >
                <strong><a href="">Game Rules</a></strong>
            </ul>
        </div>


        <div class="col-md-8">
            <ul>
                <li>
                    <strong>Legal Mentions</strong><br>
                    
The consultation of the website p4.com 
does not require the provision of the users’ personal data.The consultation of the website criteo.com 
does not require the provision of the users’ personal data.The collection and processing of these 
personal data comply with French data protection regulation (Loi du 6 janvier 1978).
The user has a right of access, modification, suppression to its personal data and 
right of objection that he can exercise at the following 
                     

                </li>	
            </ul>
        </div>  

        <div class="col-md-2">	
            <ul>
                <li>
                    <strong>Webmasters</strong>
                    <ul>
                        <li>Etienne</li>
                        <li>Tristan</li>
                        <li>Salim</li>	
                    </ul> 
                </li>
            </ul>
        </div> 
    </nav>
</footer>
