<footer class="container" style="background-color: yellow;">
    <nav	class="row justify-content-end">
        <div class="col-md-2">
            <ul >
                <strong><a href="{{ path('rules')}}">Game Rules</a></strong><br>
               
            </ul>
        </div>


        <div style="text-align: center;" class="col-md-8">
            <a href=""><strong onclick="javascript:legal_mentions();">Legal Mentions</strong></a>

                    


              
        </div>
        <div style="text-align: center;" class="col-md-2">
            <a href=""><strong onclick="javascript:open_webmasters();">Webmasters</strong></a>
                    {#<ul>
                        <li>Etienne</li>
                        <li>Tristan</li>
                        <li>Salim</li>
                    </ul>#}
        </div>
    </nav>
</footer>
                    
<script type="text/javascript">
    
    
    function legal_mentions()
    {
        alert("Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.");
    }
                
    function open_webmasters()
        {
            alert("Cette page a été crée par trois brillants cerveaux : \n\
    \n\
                   Etienne, le minot chevelu \n\
\n\
                   Tristan, le tatoué \n\
\n\
                   Salim, le sage\n\
\n\
                   En espérant que vous vous amuserez !");
        }

</script>
