{% extends 'base.html.twig' %}
{% block body %}

    {% block App_body %}
        <div style="margin-top:60px"></div>
        <div style="text-align: center; margin-top: 30px;">
            <img style="height: 100px; width: 650px" src="{{ asset('bundles/app/images/welcomeprompt.png')}}"  alt="Welcome" />
            </br>
            <a href="{{ path('login')}}"><img src="{{ asset('bundles/app/images/logopage.png')}}"  alt="Main_picture" /></a>
        </div>
    {% endblock %}

{% endblock %}


