{% extends 'base.html.twig' %}
{% block body %}

    {% block App_body %}
        <div style="margin-top:60px"></div>
        <div style="text-align: center; margin-top: 30px;">
            <h1 style="color: blue"><b>Welcome To The World Of</b></h1>
            <a href="{{ path('login')}}"><img src="{{ asset('bundles/app/images/logopage.png')}}"  alt="Main_picture" /></a>
        </div>
    {% endblock %}

{% endblock %}


