{% extends 'base.html.twig' %}
{% block body %}

    {% block App_body %}
        <div style="margin-top:60px"></div>
        <div style="text-align: center; margin-top: 30px;">
            <img style="margin-bottom: 20px" src="{{ asset('bundles/app/images/promptvictoryP1.png')}}"  alt="J1" />
            </br>
            <img src="{{ asset('bundles/app/images/victoryP1.gif')}}"  alt="Victoire joueur 1" />
        </div>
    {% endblock %}

{% endblock %}